{# DyweeTicketBundle:Ticket:miniTable.html.twig #}

{% if ticketList|length > 0 %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Sujet</th>
                <th>Attribué à</th>
                <th>Statut</th>
                <th>Créé le</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in ticketList %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td><a href="{{ path('admin_ticket_view', {id: ticket.id}) }}">{{ ticket.subject }}</a></td>
                    <td>{% include 'DyweeTicketBundle:Ticket:handledBy.html.twig' %}</td>
                    <td>{{ ticket.state.label|raw }}</td>
                    <td>{{ ticket.createdAt|date('d/m/Y à H\\hi') }}</td>
                    <td>
                        <a href="{{ path('admin_ticket_view', {id: ticket.id}) }}" class="link-unstyled"><i class="fa fa-eye"></i> </a>
                    </td>
                </tr>

            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="box-body">
        <p>Il n'y a pas encore de tickets créés</p>
    </div>
{% endif %}